name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  api:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24.9"
      - name: Setup Docker
        uses: docker/setup-buildx-action@v2

      - name: Install Docker Compose
        run: |
          mkdir -p ~/.docker/cli-plugins/
          curl -SL https://github.com/docker/compose/releases/download/v2.17.2/docker-compose-linux-x86_64 -o ~/.docker/cli-plugins/docker-compose
          chmod +x ~/.docker/cli-plugins/docker-compose

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.3

      - name: Install dependencies
        run: |
          pnpm install --frozen-lockfile

      - name: Lint
        run: pnpm lint

      - name: Type check
        run: npx tsc --noEmit

      - name: Setup test containers
        run: |
          docker compose up -d --wait

      - name: Test
        run: pnpm test

      - name: Tear down test environment
        run: docker compose down
        if: always() # This ensures the tear down happens even if previous steps fail

